body {
    min-height: 20rem;
		text-align:center;
		height: 100%;
    }
  
    
        
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #ff0002;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    
  .imagesize{
      width: 400px;
      height: 400px;
  }
 .contactrow{
     margin-top:70px;

     }
 
.colborder{
    border-left:0.5px solid black;
    border-right:0.5px solid black;
}
.leadingmovie{
    font-size: 30px;
  padding:50px 0px;
  margin-top:50px;
  margin-bottom: 10px;
  font-weight: bolder;
  
}
.leadingrowtop{
    margin-top: -100px;
}
.cctv{
    width: 40px;
    height: 40px;
}
.illustration{
	width:400px;
	height:400px;
}
.title {
    line-height: 1.33;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #223464;
	margin-bottom: 5px;
}
.space-50 {
    height: 50px;
    display: block;
}
h2, .h2 {
    font-size: 44px;
}
.section-do .info {
    text-align: center;
    margin-top: 60px;
}
.section-do .info {
    text-align: center;
    margin-top: 60px;
}
.movie1{
	width:400px;
	height:400px;
}
.meetourteam{
  font-size: 30px;
  padding:50px 0px;
  margin-top:50px;
  margin-bottom: 10px;
  font-weight: bolder;
 
}
.teamheader{
    font-size:20px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    float: center;
    background: #22252b;
    color:white;
    margin-top:40px;
  }

}
.save_button {      
    min-width: 100px;
    max-width: 100px;
}

.image2{
    margin-top: 30px;
}
.register{
    margin-top: 100px;
}
.registerfooter{
color:white;

}
.blocksignup{
    /* width:30%; */
    margin-top: 10px;
}
label {
    color: rgb(255, 255, 255);
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.instagramcolor{
    color:brown;
}
.text-muted {
    color:blue!important;
}
.text-muted:hover {
    color:white!important;
}

a:link {
    color: blue;}
    a:active {
        color: rgb(0, 0, 0);
    }
    a.nav-link:hover{
        color: red;
    }
    a.nav-link:active{
        color: blue;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: white;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        color:red;
        }
    .form-signin{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }